
* {
	box-sizing: border-box;
}
.logoinstamobile{
    display: none;
}
.barramobile{
    display:none;
}
.topocentral{
    height: 54px;
    width: 100vw;
    border: 1px solid #DBDBDB;
    background-color: #FFFFFF;
    top:0 ;
    display:flex;
   justify-content: center;
    align-items: center;
    position: fixed;
    z-index:  2;
    
}

.barra-topo{
    height: 54px;
    width: 932px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.topo-esquerda{
    margin-left: 0px;
    padding-left: 0px;
    display: flex;
    justify-content: center;
     align-items: center;
    
}

.iconeinsta {
    font-size:22px;
 
}
.barravertical hr{
    width: 1px;
    height: 22px;
    display:flex;
    margin-left: 15px;

}
.logoinsta{
    margin-left: 15px;

}
.pesquisar{
    display:flex;
    justify-content: center;
    align-items: center;
    width:215px;
    height:28px;
    background-color:#FAFAFA;
    border-radius: 3px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    color:#979797
}
.iconesdireita{
    font-size: 22px;
    display: flex;
    
}
.aviao{
    margin-right: 20px;;
}
.bussola{
    margin-right: 20px;
}
.core{
    margin-right:20px;
}
.pessoa{
    margin-right:30px;
}
/* pra centralizar tive que fazer essa dive pq n tava conseguindo colocar css no .body */
.tela{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E5E5;
}
/*corpão é o conteudo (stories + galeria) +  sidebar*/
.corpao{
display: flex;
width:916px;
height: 2650PX;
background-color: #E5E5E5;
}
/* conteudo   */
.conteudo{
   width:614px;
    margin-top: 54px;
    position:relative;
    display:flex;
    flex-wrap: wrap;
    background-color: #E5E5E5;
    

}

/*  stories   */
.barra-stories{ 
    width: 614px;
    height: 118px;
    position:absolute;
    margin-top: 34px;
    background-color:#FFFFFF;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    border-radius: 3px;
    border: 1px solid #DBDBDB;
    overflow: hidden;
}
.setinha_stories{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    position: absolute;
    margin-left: 565px;
    z-index: 3;
    border-radius: 50%;
   color:#FFF;
   filter:drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
}
.caixastorie{
    position: relative;
    
}
.fundostorie{
    display:flex;
    width:66px;
    height:66px;
    border-radius: 33px;
    margin-left: 12px;
    overflow: hidden;
}
.imagemstorie img{
    position:absolute;
    width:56px;
    height:56px;
    border-radius: 28px;
    left:17px;
    top:5px;
    
   
}
.escritinha{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-left: 12px;
    
    
}
.escritinha p {
   padding-left: 0px;
    width: 70px;
    overflow: hidden;
    font-family: Roboto;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    display:block;
    justify-content: center;
    align-items: center;
    text-overflow: ellipsis;
    
}
/*galeria de post*/
.galeria{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    background-color: #E5E5E5;
    position:relative;
    width:614px;
    height: 100vh;
    margin-top: 176px;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
}
.foto{
    width:614px;
    height:749px;
    background-color: #FFFFFF;
    margin-bottom: 60px;
    border-radius: 3px;
    border: 1px solid #DBDBDB;
}
.topo_foto{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 614px;
    height:61px;
}
.iconeperfil{
    display: flex;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-left: 0px;
    background-size: 100%;
    background-image: url(imagens/cerejeira.jpg);
}
.iconeperfil2{
    display: flex;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-left: 5px;
    background-size: 100%;
    background-image: url(imagens/cabecao.jpg);
}
.iconeperfil3{
    display: flex;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin-left: 5px;
    background-size: 100%;
    background-image: url(imagens/cabecao.jpg);
}
.nomeperfil{
margin-left: 20px;
}
.nomeperfil p{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #262626;

    }
.trespontin{
    display: flex;
   align-items: center;
    margin-left: 432px;
}
.meio_foto{
    display: flex;
    width: 100%;
    height: 614px;
    overflow: hidden;
    box-sizing: border-box;
    object-fit: cover;
}
.meio_foto img{
    width: 100%;
    height: 614px;
    object-fit: cover;
}
.partedebaixo{
    display: block;
    width:612px;
    height: 76px;
}
.iconesdebaixo{
    display: flex;
    width:612px;
    height: 38px;
    align-items: center;
}
.iconesdebaixo_esquerda{
    display: flex;
    font-size: 23px;
    margin-left:15px;
}
.comentarios{
    margin-left: 17.75px;
    margin-right: 17.75px;
}
.iconedebaixo_direita{
    display: flex;
    font-size: 23px;
    margin-left:450px;
}
.likes{
    
    width:612px;
    height: 38px;
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
    background-size: 100%;
    background-image: url(imagens/cabecao.jpg);
}
.likes p{
    margin-left: 35PX;
    white-space: nowrap;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
}
.likes p span{
    font-weight: 500;
    font-size: 14px;
}
.likes2{
    
    width:612px;
    height: 38px;
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    margin-left: 15px;
    margin-bottom: 10px;
    background-size: 100%;
    background-image: url(imagens/shrek.jpg);
    }
    .likes2 p{
        margin-left: 35PX;
        white-space: nowrap;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
    }
    .likes2 p span{
        font-weight: 500;
        font-size: 14px;
    }
    
    .likes3{
   
        width:612px;
        height: 38px;
        display: flex;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        margin-left: 15px;
        margin-bottom: 10px;
        background-size: 100%;
        background-image: url(imagens/bethovem.jpg);
        }
        .likes3 p{
            margin-left: 35PX;
            white-space: nowrap;
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 16px;
        }
        .likes3 p span{
            font-weight: 500;
            font-size: 14px;
        }
        

/* sidebar */
.sidebar{
    position:fixed;
    margin-left: 625px;
    margin-top: 89px;
    width: 293px;
    height: 600px;
    background-color: #E5E5E5;
    
}
.contsidebar{
    display:block;
    margin-left: 29px;;
}
.perfiluser{
    width:293px;
    height:85px;
    display: flex;
    align-items: center;
   
    
}

.iconesidegrande{
    display: flex;
    position:relative;
    width: 56px;
    height: 56px;
    border-radius: 26px;
    margin-left: 0px;
    background-size: 100%;
    background-image: url(imagens/cabecao.jpg);
}
.escritaperfil{

display: block;
position: relative;
margin-left: 20px;
}
.escritaperfil p{
    display:block;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    align-items: center;

color: #262626;
    
    }
.escritaperfil p span{
    display:block;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    align-items: center;
    
    color: gray;
}
.escritasugestoes{
    margin-left: 5px;
    font-size:12px;
    width: 293px;
    height:15px;
    display: block;
    color:rgba(142, 142, 142, 1);
}
.escritasugestoes p {
    
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;

}
.escritasugestoes p span{
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
display: flex;
align-items: center;
margin-left: 80px;

color: #262626;

}
.sugestoes{
    display: flex;
    align-items: center;
   
    margin-top: 15px;
}
.iconesugestao{
    display: block;
    position:relative;
    width: 32px;
    height: 32px;
    border-radius: 50%;
  margin-left: 5px;
  margin-top: 5px;
    background-size: 100%;
    background-image: url(imagens/cabecao.jpg);
}
.sugestoes p{
    position: relative;
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  margin-left: 15px;
    
}
.sugestoes p span{
    display: block;
 font-family: Roboto;
font-style: normal;
font-weight: 00;
font-size: 12px;
line-height: 14px;
color: gray;
}
h2{ 
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 14px;
display: flex;
align-items: center;
text-align: right;
margin-left: 54px;
color:rgba(19, 158, 242, 1);
}
.sobre{
    display: flex;
    flex-wrap: wrap;
}
.sobre p{
    color: rgba(199, 199, 199, 1);
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 11px;
line-height: 13px;
display: flex;
align-items: center;
margin-top: 30px;
margin-left: 5px;
}
.vintedois{
    display: block;
    
}
.vintedois p{
    color: rgba(199, 199, 199, 1);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 5px;
}
/*tela média*/
@media (max-width: 935px)  {
    .logoinstamobile{
        display: none;
    }
    .sidebar{
        display:none;
    }
    .corpao{
        display: flex;
        width:614px;
        background-color: brown;
        }
        .barra-topo{
            height: 54px;
            width: 100vw;
            border: 1px solid #DBDBDB;
            background-color: #FFFFFF;
            top:0 ;
            display:flex;
            justify-content: space-between;
            align-items: center;
            position: fixed;
            z-index:  1;
            
        }
        .topo-esquerda{
            display: flex;
            justify-content: center;
             align-items: center;
            margin-left: 15px;
        }
        .iconesdireita{
            font-size: 22px;
            display: flex;
            margin-right: 25px;
            
        }
}
/* final da tela média */

/*mobile*/
@media (max-width:664px){
    .corpao{
        display: flex;
        width:100vw;
        height: 2650PX;
        background-color: #E5E5E5;
        }
    .conteudo{
        width:100vw;
         margin-top: 54px;
         position:relative;
         display:flex;
         flex-wrap: wrap;
         background-color: #E5E5E5;
         
     
     }
     .galeria{
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        background-color: #E5E5E5;
        position:relative;
        width:100%;
        height: 100vh;
        margin-top: 176px;
        border: 1px solid #DBDBDB;
        border-radius: 3px;
        justify-content: center;
        align-items: center;
    }    
    .foto{
        width:100vw;
        height:749px;
        background-color: #FFFFFF;
        margin-bottom: 60px;
        border-radius: 3px;
        border: 1px solid #DBDBDB;
        overflow: hidden;
         justify-content: center;
        align-items: center;
    }
    .topocentral{
       height: 54px;
        width: 100vw;
        border: 1px solid #DBDBDB;
        background-color: #FFFFFF;
        top:0 ;
        display:flex;
       justify-content: center;
        align-items: center;
        position: fixed;
        z-index:  2;
      
    }

.barra-topo{
    height: 54px;
    width: 100vw;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.topo-esquerda{
    display: flex;
    justify-content: center;
     align-items: center;
    
}
.iconeinsta {
    font-size:22px;
 
}
.barravertical hr{
    display:none;
}
.pesquisar{
    display:none;
}
.logoinsta{
    display: none
}
.logoinstamobile{
   display:flex;
}
.iconesdireita{
    font-size: 22px;
    display: flex;
    margin-right: 0px;
    
}
.bussola{
    display: none;
}
.core{
    display: none;
}
.pessoa{
    display: none;
}
.barra-stories{ 
    width: 100vw;
    height: 118px;
    position:absolute;
    margin-top: 0px;
    background-color:#E5E5E5;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    border-radius: 3px;
    border: 1px solid #DBDBDB;
    overflow: hidden;
}
.galeria{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    background-color: #E5E5E5;
    position:relative;
    width:100vw;
    height: 100vh;
    margin-top: 110px;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
}
.setinha_stories{
    display: none;
}

.fundostorie{
    width:66px;
    height:66px;
    border-radius: 33px;
}

.barramobile{
    position: fixed;
    z-index: 2;
    bottom:0;
    display:flex;
    align-items: center;
    justify-content: space-around;
    width:100vw;
    height:54px;
    border: 1px solid #DBDBDB;
    background-color: #FFFFFF;
    font-size: 20px;
    box-sizing: border-box;
}

}